*{
    width: 100%;
}
#diseño{
    background-color: #B3E283;
    border-radius: 2px;
    border:3px forestgreen solid;
}
.main-row{
    text-align: center;
    display: inline-flex;
    margin-bottom: 20px;
}
.main-row form{
    margin-left: 10px;
    margin-right: 10px;
    border: 2px #5F939A dashed;
    height: 200px;
    border-radius: 10px;
}
.main-row form .btn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rebeccapurple;
    color: white;
}
.top{
    padding-top: 20px;
}
.gold-total{
    float: left;
    width: 50%;
}
.btn-2{
    width: 200px;
    float: right;
    color: white;
    background-color: rgb(209, 41, 12);
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}
.box{
    height: 300px;
    overflow: scroll;
}


.green {
    color: green;
}
.red {
    color: red;
}