<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container -sm" id="diseño">
        <div class="row">
            <div class="col -8"><h1 class="text-center bg-secondary bg-gradient">Ninja Gold</h1> </div>
        </div>
        <div class="gold-total">
            <table><td><h2>You gold:</h2></td><td class="border border-dark"><h2>{{ request.session.count }}</h2></td></table>
        </div>
        <div>
        <form action="/reset" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn-2" value="Nueva Partida ">
        </form>
    </div>
        <div class="main-row">
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <div class="well">
                    <h4 class="top">Granja</h4>
                    <h4>10 - 20 ORO</h4>
                    <input type="hidden" name="building" value="Granja" />
                    <input type="submit" class="btn" value="oro!">
                </div>
            </form>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <div class="well">
                    <h4 class="top">Cueva</h4>
                    <h4>5 - 10 oro</h4>
                    <input type="hidden" name="building" value="Cueva" />
                    <input type="submit" class="btn" value="oro!"> 
                </div>
            </form>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <div class="well">
                    <h4 class="top">Casa</h4>
                    <h4>2 - 5 oro</h4>
                    <input type="hidden" name="building" value="Casa" />
                    <input type="submit" class="btn" value="oro!">
                </div>
            </form>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <div class="well">
                    <h4 class="top">Casino </h4>
                    <h4>0 - 50 Oro</h4>
                    <input type="hidden" name="building" value="Casino" />
                    <input type="submit" class="btn" value="oro!">
                </div>
            </form>
        </div>
        <div class="row">
            <h3>Activities:</h3>
            <div class="box">
                <ul>{% for i in request.session.box %}
                    <li class="{{ i.class }}">{{ i.log }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>    

    </div>


    
    
</body>
</html>